Automated Decision Support System.json
{
  "name": "Automated Decision Support System",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -576,
        1488
      ],
      "id": "1e206d48-2fde-496b-8cc3-d0ef04efd0c1",
      "name": "When chat message received",
      "webhookId": "903ab748-d04b-41b5-bbac-2f6f5d483989"
    },
    {
      "parameters": {
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -192,
        1680
      ],
      "id": "42d9de0f-d4ab-47a7-9ad1-4572d68bc4da",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -368,
        1664
      ],
      "id": "d5eb5f72-0bcb-4259-a74c-efa365871642",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "5bQnUFfdkzbJs3Ln",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        64,
        1840
      ],
      "id": "92fa37f5-1c3b-40ed-819d-9dd2ae0c57d0",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "5bQnUFfdkzbJs3Ln",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// نقوم بجلب النص الخارج من نود الـ AI Agent\n// ملاحظة: تأكد من تغيير اسم الـ Node إذا كان مختلفاً لديك (مثلاً 'AI Agent')\nconst rawText = $input.item.json.output || $input.item.json.text;\nconst uniqueId = Math.floor(1000 + Math.random() * 9000);\ntry {\n    // تحويل النص إلى كائن JSON صالح\n    const parsedData = JSON.parse(rawText.trim());\n\n    // إرجاع البيانات بشكل منظم للنودز التالية\n    return [{\n        json: {\n          id: uniqueId,\n            action_type: parsedData.action_type || \"unclear\",\n            delete_search_term: parsedData.delete_search_term || null,\n            send_email: parsedData.send_email || false,\n            \n            // بيانات الجدول (إذا كانت عملية تحليل)\n            decision: parsedData.decision_data ? parsedData.decision_data.decision : null,\n            classification:parsedData.decision_data ?\n              parsedData.decision_data.decision: null,\n            time: parsedData.decision_data ? parsedData.decision_data.time : null,\n            priority: parsedData.decision_data ? parsedData.decision_data.priority : null,\n            description: parsedData.decision_data ? parsedData.decision_data.description : null\n        }\n    }];\n\n} catch (error) {\n    // في حال حدوث خطأ غير متوقع في التحليل، يتم تمرير الخطأ لتجنب توقف الـ Workflow\n    return [{\n        json: {\n            action_type: \"unclear\",\n            error: \"فشل في تحليل الـ JSON: \" + error.message,\n            raw_output: rawText\n        }\n    }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        1488
      ],
      "id": "cc2b10fd-654e-4fa5-baaa-87d38cb3bf2f",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw",
          "mode": "list",
          "cachedResultName": "Automated Decision Support System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1183008931,
          "mode": "list",
          "cachedResultName": "Descisions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit#gid=1183008931"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -64,
        1680
      ],
      "id": "a77ba4c8-1c5d-452d-9666-2459c483fe82",
      "name": "Metadata & Context Get Row2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qPcYFvcEFGVnuJDH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=أنت محرك تحليل نية ضمن نظام دعم قرارات آلي (Automated Decision Support System).\nمهمتك الوحيدة هي تحليل طلب المستخدم وإخراج كائن JSON خام وصالح للتحليل (parseable) مباشرة، بدون أي نص تفسيري خارج الكائن، وبدون استخدام علامات الاقتباس البرمجية الخاصة بالـ Markdown (مثل ```).\n\n=====================================================================\nالبنية الأساسية للإخراج (JSON الهيكل المتوقع):\n=====================================================================\n{\n  \"action_type\": \"analyze\" | \"delete\" | \"unclear\" | \"update\",\n  \"delete_search_term\": \"<نص البحث أو اسم القرار المراد حذفه>\" | null,\n  \"decision_data\": {\n    \"decision\": \"<عنوان أو موضوع القرار>\",\n    \"classification\":\"<تصنيف القرار>\",\n    \"time\": \"<التاريخ بصيغة YYYY-MM-DD فقط بناءً على تاريخ اليوم 2026-06-28 أو التاريخ المذكور>\",\n    \"priority\": \"عالية\" | \"متوسطة\" | \"قليلة\",\n    \"description\": \"<وصف عام وموجز للقرار وتحليله>\"\n  } | null,\n  \"send_email\": true | false\n}\n\n=====================================================================\nقواعد المعالجة الحاسمة:\n=====================================================================\n1. حقل إرسال الإيميل (send_email):\n   - يتم تعيينه إلى true فوراً وبشكل صريح (Boolean) إذا طلب المستخدم إرسال المخرجات أو تأكيد الحذف إلى البريد الإلكتروني، أو عبّر عن ذلك بأي صيغة (مثل: \"ابعثلي ايميل\"، \"أرسله لبريدي\"، \"نعم ارسله\").\n   - يتم تعيينه إلى false في حال غياب أي ذكر للإيميل.\n\n2. حقل البيانات (decision_data):\n   - إذا كانت العملية \"تحليل قرار\" (action_type = \"analyze\")، قم بملء الحقول الأربعة بناءً على الأعمدة الموضحة في جدول البيانات:\n     * decision: موضوع القرار الأساسي.\n     * classification: تنصيف القرار بناء على تصنيف عالمي\n     * time: استخرج أو استنتج تاريخ اليوم الحالي بالصيغة المحددة (مثال: 2026-06-28).\n     * priority: حدد الأولوية بدقة من بين الخيارات الثلاثة فقط (عالية، متوسطة، قليلة).\n     * description: اكتب وصفاً عاماً وتحليلياً للقرار.\n   - إذا كانت العملية \"حذف\" (action_type = \"delete\")، اجعل قيمة decision_data بالكامل: null.\n\n3. طلبات الحذف (Delete Intents):\n   - عند طلب حذف قرار معين، اجعل action_type = \"delete\".\n   - استخرج الكلمة المفتاحية أو اسم القرار المراد حذفه وضعه في حقل delete_search_term.\n\n4. الـ action_type:\n   - اختر \"analyze\" إذا كان المستخدم يطرح قراراً جديداً بالكامل لتحليله.\n   - اختر \"delete\" إذا طلب المستخدم حذف قرار سابق.\n   - اختر \"update\" إذا طلب المستخدم تعديل أو تغيير تفاصيل قرار موجود مسبقاً (مثل: \"عدل أولوية قرار الرياضة\"، \"غير وصف القرار الفلاني\").\n\n5. عند التعديل (update):\n   - ضع اسم القرار المراد تعديله في حقل delete_search_term (ليتم استخدامه للبحث عن الصف في الجدول).\n   - ضع القيم الجديدة التي طلب المستخدم تغييرها في حقولها المناسبة (مثل priority أو description).\n   - الحقول التي لم يطلب المستخدم تعديلها، اترك قيمتها كما هي أو فارغة (null).\n\n=====================================================================\nنص المستخدم الحالي المعني بالتحليل:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -176,
        1488
      ],
      "id": "1d1fec3a-0b1d-4cce-8b4e-c1a5d89ce1d1",
      "name": "AI main",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"action_type\": {\n  \"type\": \"string\",\n  \"enum\": [\"analyze\", \"delete\", \"update\", \"unclear\"],\n  \"description\": \"نوع العملية: تحليل قرار جديد، حذف قرار، تعديل قرار موجود، أو غير واضح.\"\n  },\n    \"delete_search_term\": {\n      \"type\": \"string\",\n      \"description\": \"اسم أو موضوع القرار المراد حذفه في حال كانت العملية delete، وإلا اتركها فارغة.\"\n    },\n    \"decision\": {\n      \"type\": \"string\",\n      \"description\": \"موضوع القرار الأساسي (في حال عملية analyze).\"\n    },\n    \"Classification\": {\n      \"type\": \"string\",\n      \"description\": \"اسم تصنيف بناء على تقييم عالمي\"\n    },\n    \"time\": {\n      \"type\": \"string\",\n      \"description\": \"التاريخ الحالي بصيغة YYYY-MM-DD فقط (تاريخ اليوم هو 2026-06-28).\"\n    },\n    \"priority\": {\n      \"type\": \"string\",\n      \"enum\": [\"عالية\", \"متوسطة\", \"قليلة\"],\n      \"description\": \"درجة أولوية القرار بناءً على معطيات المستخدم.\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"وصف عام وموجز للقرار مع تحليل سريع ومباشر له.\"\n    },\n    \"send_email\": {\n      \"type\": \"boolean\",\n      \"description\": \"يتم تعيينها كـ true إذا طلب المستخدم صراحة أو لمح برغبته في إرسال إيميل، وإلا false.\"\n    }\n  },\n  \"required\": [\"action_type\", \"send_email\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        64,
        1680
      ],
      "id": "608772d5-5ade-4fe8-bfc3-843a92f9fd6e",
      "name": "Structured Output Parser1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw",
          "mode": "list",
          "cachedResultName": "Automated Decision Support System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1183008931,
          "mode": "list",
          "cachedResultName": "Descisions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit#gid=1183008931"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Decision": "={{ $json.raw_output.decision }}",
            "Time": "={{ $json.raw_output.time }}",
            "Priority": "={{ $json.raw_output.priority }}",
            "Description": "={{ $json.raw_output.description }}",
            "ID ": "==ARRAYFORMULA(IF(ISBLANK(B2:B), \"\", ROW(B2:B)-1))",
            "Classification": "={{ $json.raw_output.Classification }}"
          },
          "matchingColumns": [
            "ID "
          ],
          "schema": [
            {
              "id": "ID ",
              "displayName": "ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Classification",
              "displayName": "Classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        1376
      ],
      "id": "aa42c611-b7a2-45ec-981b-6bcdebeebf51",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qPcYFvcEFGVnuJDH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "Moathhazeem661@gmail.com",
        "subject": "={{ $json.Decision }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"ar\" dir=\"rtl\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>تقرير تحليل القرار</title>\n    <style>\n        /* تحسينات استجابة التصميم على الهواتف المحمولة */\n        @media only screen and (max-width: 600px) {\n            .container {\n                width: 100% !important;\n                border-radius: 0 !important;\n            }\n            .header {\n                padding: 20px !important;\n            }\n            .header h1 {\n                font-size: 20px !important;\n            }\n            .content {\n                padding: 20px !important;\n            }\n            .content h2 {\n                font-size: 16px !important;\n            }\n            .detail-label, .detail-value {\n                font-size: 14px !important;\n            }\n        }\n    </style>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f6f9; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; direction: rtl; text-align: right; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\">\n    <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #f4f6f9; padding: 20px 0;\">\n        <tr>\n            <td align=\"center\" style=\"padding: 0 10px;\">\n                <table class=\"container\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width: 600px; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 10px rgba(0,0,0,0.05); border-collapse: collapse;\">\n                    <tr>\n                        <td class=\"header\" style=\"background-color: #4f46e5; padding: 30px; text-align: center;\">\n                            <h1 style=\"color: #ffffff; margin: 0; font-size: 24px; font-weight: 600; line-height: 1.4;\">نظام دعم القرارات الآلي</h1>\n                            <p style=\"color: #e0e7ff; margin: 5px 0 0 0; font-size: 14px;\">تم توليد تقرير التحليل بنجاح</p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td class=\"content\" style=\"padding: 30px;\">\n                            <h2 style=\"color: #1f2937; margin-top: 0; margin-bottom: 20px; font-size: 18px; border-bottom: 2px solid #f3f4f6; padding-bottom: 10px; font-weight: 600;\">تفاصيل القرار المضاف:</h2>\n                            \n                            <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-bottom: 20px; border-collapse: collapse;\">\n                                <tr>\n                                    <td class=\"detail-label\" width=\"30%\" style=\"padding: 10px 0; color: #4b5563; font-weight: bold; font-size: 15px; vertical-align: top;\">القرار:</td>\n                                    <td class=\"detail-value\" style=\"padding: 10px 0; color: #111827; font-size: 15px; word-break: break-word;\">{{ $json.Decision }}</td>\n                                </tr>\n                                <tr>\n                                    <td class=\"detail-label\" style=\"padding: 10px 0; color: #4b5563; font-weight: bold; font-size: 15px; vertical-align: top;\">التصنيف:</td>\n                                    <td class=\"detail-value\" style=\"padding: 10px 0; color: #111827; font-size: 15px; word-break: break-word;\">{{ $json.Classification }}</td>\n                                </tr>\n                                <tr>\n                                    <td class=\"detail-label\" style=\"padding: 10px 0; color: #4b5563; font-weight: bold; font-size: 15px; vertical-align: top;\">التاريخ:</td>\n                                    <td class=\"detail-value\" style=\"padding: 10px 0; color: #111827; font-size: 15px; word-break: break-word;\">{{ $json.Time }}</td>\n                                </tr>\n                                <tr>\n                                    <td class=\"detail-label\" style=\"padding: 10px 0; color: #4b5563; font-weight: bold; font-size: 15px; vertical-align: top;\">الأولوية:</td>\n                                    <td class=\"detail-value\" style=\"padding: 10px 0; font-size: 15px;\">\n                                        <span style=\"background-color: #fef3c7; color: #d97706; padding: 4px 12px; border-radius: 50px; font-weight: bold; font-size: 13px; display: inline-block;\">{{ $json.Priority }}</span>\n                                    </td>\n                                </tr>\n                            </table>\n\n                            <div style=\"background-color: #f9fafb; border-right: 4px solid #4f46e5; padding: 15px; border-radius: 4px; margin-top: 10px;\">\n                                <h3 style=\"margin: 0 0 8px 0; color: #1f2937; font-size: 15px; font-weight: 600;\">الوصف والتحليل العام:</h3>\n                                <p style=\"margin: 0; color: #4b5563; font-size: 14px; line-height: 1.6; word-break: break-word;\">{{ $json.Description }}</p>\n                            </div>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"background-color: #f9fafb; padding: 20px; text-align: center; border-top: 1px solid #f3f4f6;\">\n                            <p style=\"margin: 0; color: #9ca3af; font-size: 12px; line-height: 1.5;\">هذا الإيميل تم توليده تلقائياً بواسطة Learnova ADSS Agent.</p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        1376
      ],
      "id": "3fe230b7-1d4f-4250-bb79-df18c1f354f0",
      "name": "Send a message8",
      "webhookId": "8cf22288-c594-4ad9-bfcc-07532301d363",
      "credentials": {
        "gmailOAuth2": {
          "id": "9NcBOjKo4wAbWWGE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "Moathhazeem661@gmail.com",
        "subject": "={{ $('Get row(s) in sheet5').item.json.Decision }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"ar\" dir=\"rtl\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>تأكيد حذف قرار</title>\n    <style>\n        /* تحسينات الشاشات الصغيرة (الجوالات) */\n        @media only screen and (max-width: 600px) {\n            .container {\n                width: 100% !important;\n                border-radius: 0 !important;\n            }\n            .header {\n                padding: 20px !important;\n            }\n            .header h1 {\n                font-size: 20px !important;\n            }\n            .content {\n                padding: 20px !important;\n            }\n            .content h2 {\n                font-size: 16px !important;\n            }\n            .content p {\n                font-size: 14px !important;\n            }\n        }\n    </style>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f6f9; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; direction: rtl; text-align: right; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\">\n    <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #f4f6f9; padding: 20px 0;\">\n        <tr>\n            <td align=\"center\" style=\"padding: 0 10px;\">\n                <table class=\"container\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width: 600px; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 10px rgba(0,0,0,0.05); border-collapse: collapse;\">\n                    <tr>\n                        <td class=\"header\" style=\"background-color: #dc2626; padding: 30px; text-align: center;\">\n                            <h1 style=\"color: #ffffff; margin: 0; font-size: 24px; font-weight: 600; line-height: 1.4;\">نظام دعم القرارات الآلي</h1>\n                            <p style=\"color: #fee2e2; margin: 5px 0 0 0; font-size: 14px;\">إشعار بحذف بيانات</p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td class=\"content\" style=\"padding: 30px;\">\n                            <h2 style=\"color: #1f2937; margin-top: 0; margin-bottom: 15px; font-size: 18px; font-weight: 600;\">تم حذف القرار بنجاح</h2>\n                            <p style=\"color: #4b5563; font-size: 15px; line-height: 1.6; margin-bottom: 25px;\">\n                                نود إشعارك بأنه تم تنفيذ طلبك بحذف القرار التالي من قاعدة البيانات وجداول العمل بنجاح.\n                            </p>\n                            \n                            <div style=\"background-color: #fef2f2; border-right: 4px solid #dc2626; padding: 15px; border-radius: 4px;\">\n                                <span style=\"color: #991b1b; font-weight: bold; font-size: 14px; display: block; margin-bottom: 5px;\">القرار المحذوف:</span>\n                                <strong style=\"color: #111827; font-size: 16px; word-break: break-word;\">{{ $('Get row(s) in sheet5').item.json.Decision }}</strong>\n                            </div>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"background-color: #f9fafb; padding: 20px; text-align: center; border-top: 1px solid #f3f4f6;\">\n                            <p style=\"margin: 0; color: #9ca3af; font-size: 12px; line-height: 1.5;\">إذا لم تقم بهذا الإجراء بنفسك، يرجى مراجعة سجلات النظام فوراً.</p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        1584
      ],
      "id": "a43c5e35-ecac-4b6c-a046-9f52a914054c",
      "name": "Send a message9",
      "webhookId": "8cf22288-c594-4ad9-bfcc-07532301d363",
      "credentials": {
        "gmailOAuth2": {
          "id": "9NcBOjKo4wAbWWGE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw",
          "mode": "list",
          "cachedResultName": "Automated Decision Support System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1183008931,
          "mode": "list",
          "cachedResultName": "Descisions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit#gid=1183008931"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        1584
      ],
      "id": "e5362ba9-57ba-43c7-bc7e-bf68a304eda8",
      "name": "Delete rows or columns from sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qPcYFvcEFGVnuJDH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw",
          "mode": "list",
          "cachedResultName": "Automated Decision Support System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1183008931,
          "mode": "list",
          "cachedResultName": "Descisions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit#gid=1183008931"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        1584
      ],
      "id": "ee7e5837-0353-4dfb-8bf8-ab3f92f0cdab",
      "name": "Get row(s) in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qPcYFvcEFGVnuJDH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.raw_output.action_type }}",
                    "rightValue": "analyze",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "80c7dc5e-2088-4596-a314-fac591a709c7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "653aec25-ba0f-4381-9d83-f58def4511db",
                    "leftValue": "={{ $json.raw_output.action_type }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bb916f15-8478-4500-ba23-89090eefa500",
                    "leftValue": "={{ $json.raw_output.action_type }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        384,
        1488
      ],
      "id": "2181e3f5-474b-4843-8a1f-160f0a1e398d",
      "name": "Switch1"
    },
    {
      "parameters": {
        "sendTo": "Moathhazeem661@gmail.com",
        "subject": "={{ $('Get row(s) in sheet6').item.json.Decision }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"ar\" dir=\"rtl\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>تحديث تفاصيل القرار</title>\n    <style>\n        /* تحسينات استجابة التصميم على الهواتف المحمولة */\n        @media only screen and (max-width: 600px) {\n            .container {\n                width: 100% !important;\n                border-radius: 0 !important;\n            }\n            .header {\n                padding: 20px !important;\n            }\n            .header h1 {\n                font-size: 20px !important;\n            }\n            .content {\n                padding: 20px !important;\n            }\n            .content h2 {\n                font-size: 16px !important;\n            }\n            .detail-label, .detail-value {\n                font-size: 14px !important;\n            }\n        }\n    </style>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f6f9; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; direction: rtl; text-align: right; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\">\n    <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #f4f6f9; padding: 20px 0;\">\n        <tr>\n            <td align=\"center\" style=\"padding: 0 10px;\">\n                <table class=\"container\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width: 600px; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 10px rgba(0,0,0,0.05); border-collapse: collapse;\">\n                    <tr>\n                        <td class=\"header\" style=\"background-color: #10b981; padding: 30px; text-align: center;\">\n                            <h1 style=\"color: #ffffff; margin: 0; font-size: 24px; font-weight: 600; line-height: 1.4;\">نظام دعم القرارات الآلي</h1>\n                            <p style=\"color: #d1fae5; margin: 5px 0 0 0; font-size: 14px;\">تم تحديث بيانات القرار بنجاح</p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td class=\"content\" style=\"padding: 30px;\">\n                            <h2 style=\"color: #1f2937; margin-top: 0; margin-bottom: 20px; font-size: 18px; border-bottom: 2px solid #f3f4f6; padding-bottom: 10px; font-weight: 600;\">تفاصيل البيانات الجديدة للقرار:</h2>\n                            \n                            <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-bottom: 20px; border-collapse: collapse;\">\n                                <tr>\n                                    <td class=\"detail-label\" width=\"30%\" style=\"padding: 10px 0; color: #4b5563; font-weight: bold; font-size: 15px; vertical-align: top;\">القرار المستهدف:</td>\n                                    <td class=\"detail-value\" style=\"padding: 10px 0; color: #111827; font-size: 15px; word-break: break-word;\"><strong>{{ $json.Decision }}</strong></td>\n                                </tr>\n                                <tr>\n                                    <td class=\"detail-label\" style=\"padding: 10px 0; color: #4b5563; font-weight: bold; font-size: 15px; vertical-align: top;\">التصنيف الحالي:</td>\n                                    <td class=\"detail-value\" style=\"padding: 10px 0; color: #111827; font-size: 15px; word-break: break-word;\">{{ $json.Classification }}</td>\n                                </tr>\n                                <tr>\n                                    <td class=\"detail-label\" style=\"padding: 10px 0; color: #4b5563; font-weight: bold; font-size: 15px; vertical-align: top;\">الأولوية الجديدة:</td>\n                                    <td class=\"detail-value\" style=\"padding: 10px 0; font-size: 15px;\">\n                                        <span style=\"background-color: #ecfdf5; color: #065f46; padding: 4px 12px; border-radius: 50px; font-weight: bold; font-size: 13px; display: inline-block; border: 1px solid #a7f3d0;\">{{ $json.Priority }}</span>\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td class=\"detail-label\" style=\"padding: 10px 0; color: #4b5563; font-weight: bold; font-size: 15px; vertical-align: top;\">وقت التعديل:</td>\n                                    <td class=\"detail-value\" style=\"padding: 10px 0; color: #6b7280; font-size: 14px; word-break: break-word;\">{{ $json.Time }}</td>\n                                </tr>\n                            </table>\n\n                            <div style=\"background-color: #f9fafb; border-right: 4px solid #10b981; padding: 15px; border-radius: 4px; margin-top: 10px;\">\n                                <h3 style=\"margin: 0 0 8px 0; color: #1f2937; font-size: 15px; font-weight: 600;\">الوصف والتحليل المحدث:</h3>\n                                <p style=\"margin: 0; color: #4b5563; font-size: 14px; line-height: 1.6; word-break: break-word;\">{{ $json.Description }}</p>\n                            </div>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"background-color: #f9fafb; padding: 20px; text-align: center; border-top: 1px solid #f3f4f6;\">\n                            <p style=\"margin: 0; color: #9ca3af; font-size: 12px; line-height: 1.5;\">هذا الإيميل تم توليده تلقائياً إشعاراً بتحديث بياناتك في مستندات نظام Learnova ADSS.</p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1168,
        1808
      ],
      "id": "4e5dafa5-b9c1-4b55-b47f-cf0ccb13a6f7",
      "name": "Send a message10",
      "webhookId": "8cf22288-c594-4ad9-bfcc-07532301d363",
      "credentials": {
        "gmailOAuth2": {
          "id": "9NcBOjKo4wAbWWGE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw",
          "mode": "list",
          "cachedResultName": "Automated Decision Support System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1183008931,
          "mode": "list",
          "cachedResultName": "Descisions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit#gid=1183008931"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        1808
      ],
      "id": "6ff949e5-0054-4d88-8c39-fd817967fb59",
      "name": "Get row(s) in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qPcYFvcEFGVnuJDH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw",
          "mode": "list",
          "cachedResultName": "Automated Decision Support System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1183008931,
          "mode": "list",
          "cachedResultName": "Descisions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit#gid=1183008931"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "ID ": "={{ $json.row_number }}",
            "Decision": "={{ $json.Decision }}",
            "Classification": "={{ $json.Classification }}",
            "Time": "={{ $json.Time }}",
            "Priority": "={{ $json.Priority }}",
            "Description": "={{ $json.Description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID ",
              "displayName": "ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Classification",
              "displayName": "Classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        1808
      ],
      "id": "898c9d4c-e62c-49aa-92f0-1e4cf4597f94",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qPcYFvcEFGVnuJDH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw",
          "mode": "list",
          "cachedResultName": "Automated Decision Support System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1376153753,
          "mode": "list",
          "cachedResultName": "Review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit#gid=1376153753"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        2128
      ],
      "id": "42b14182-84a8-41d6-95bd-fc49426a4084",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "5ILyhPQ03kHiwfqL",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=يرجى تحليل البيانات التالية الخاصة بالقرار المأخوذ:\n- رقم القرار (ID): {{ typeof $json[\"ID\"] === 'string' && $json[\"ID\"].includes('/') ? Math.round((new Date($json[\"ID\"]) - new Date('1899-12-30')) / (1000 * 60 * 60 * 24)) : $json[\"ID\"] }}\n- اسم القرار (Decision Name): {{ $json['Descision Name'] }}\n- النتيجة الفعلية (Actual Outcome): {{ $json[\"Actual Outcome\"] }}\n- تقييم النتيجة (Outcome Rating): {{ typeof $json[\"Outcome Rating\"] === 'string' && $json[\"Outcome Rating\"].includes('/') ? Math.round((new Date($json[\"Outcome Rating\"]) - new Date('1899-12-30')) / (1000 * 60 * 60 * 24)) : $json[\"Outcome Rating\"] }}\n- عوامل غير متوقعة (Unexpected Factors): {{ $json[\"Unexpected Factors\"] }}\n- تاريخ المراجعة (Date of Reflection): {{ $json[\"Date of Reflection\"] }}\n\nبناءً على الـ System Message، قم بتقديم التحليل المطلوب.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert in analyzing administrative and personal decisions. You have data on a decision that was previously made (the original decision) and data on the actual result after implementation. Your task is to compare what was expected with what actually happened, classify the \"Actual Outcome\" as either good or bad based on the descriptive text and the \"Outcome Rating\", and extract strengths or weaknesses accordingly.\n\nCRITICAL INSTRUCTIONS FOR CLASSIFICATION & ANALYSIS:\n1. Classification Rule: Evaluate the combination of \"Actual Outcome\" text and \"Outcome Rating\". If the rating is 5 or above and the outcome text is generally positive, classify the context as a \"Good Outcome\". If the rating is below 5 or the outcome text reflects failure/struggle, classify it as a \"Bad Outcome\".\n2. Dynamic JSON Output Selection:\n   - If the outcome is classified as GOOD: Fill the \"strengths\" array with key success factors, and LEAVE the \"weaknesses\" array completely EMPTY []. Do not invent weaknesses.\n   - If the outcome is classified as BAD: Fill the \"weaknesses\" array with failure points and bottlenecks, and LEAVE the \"strengths\" array completely EMPTY []. Do not invent strengths.\n3. Recommendations: In both cases, provide actionable \"recommendations\" for future decision-making or corrective actions.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -320,
        2128
      ],
      "id": "0d03dac2-cdd9-4d70-bdf0-a5b51210bd84",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -320,
        2336
      ],
      "id": "37e0a238-1560-4740-8e41-ae666e7fce9c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5bQnUFfdkzbJs3Ln",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw",
          "mode": "list",
          "cachedResultName": "Automated Decision Support System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1376153753,
          "mode": "list",
          "cachedResultName": "Review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit#gid=1376153753"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -128,
        2320
      ],
      "id": "2b260c7f-e659-45d8-88df-e797656f273a",
      "name": "Metadata & Context Get Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qPcYFvcEFGVnuJDH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw",
          "mode": "list",
          "cachedResultName": "Automated Decision Support System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1183008931,
          "mode": "list",
          "cachedResultName": "Descisions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit#gid=1183008931"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -224,
        2320
      ],
      "id": "98b942f6-4954-4e15-94ee-ca7a4353a37f",
      "name": "Metadata & Context Get Row1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qPcYFvcEFGVnuJDH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Google Sheets Trigger').item.json[\"Outcome Rating\"] }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    },
                    "id": "060a5c3a-90d1-4d74-b4e2-3b6af00cd44a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c05c6d4b-cf4d-4fce-8a2b-22c3aa587f05",
                    "leftValue": "={{ $('Google Sheets Trigger').item.json[\"Outcome Rating\"] }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        32,
        2128
      ],
      "id": "cfa8db53-404f-4d4e-9b8e-77a7444ab1a8",
      "name": "Switch"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"decision_summary\": {\n      \"type\": \"string\"\n    },\n    \"strengths\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"weaknesses\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"recommendations\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"decision_summary\", \"strengths\", \"weaknesses\", \"recommendations\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        0,
        2336
      ],
      "id": "e553b442-651f-45ae-883b-75f1a03728dd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sendTo": "moathhazeem661@gmail.com",
        "subject": "مشاكل للقرار ",
        "message": "=<!DOCTYPE html>\n<html dir=\"rtl\" lang=\"ar\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>تحليل قرار: يتطلب تحسين ومراجعة</title>\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');\n        * { box-sizing: border-box; }\n        body {\n            font-family: 'Tajawal', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background-color: #f7f9fc; color: #333333; line-height: 1.6; margin: 0; padding: 0;\n        }\n        .email-container {\n            max-width: 600px; margin: 30px auto; background: #ffffff; border-radius: 12px;\n            overflow: hidden; box-shadow: 0 4px 15px rgba(0,0,0,0.05); border: 1px solid #eef2f6;\n        }\n        .header-banner {\n            background-color: #5c1d1d; padding: 35px 30px; text-align: center; color: #ffffff;\n            border-bottom: 4px solid #9b2226;\n        }\n        .header-banner h1 { font-size: 22px; margin: 0 0 10px 0; font-weight: 700; }\n        .header-banner p { font-size: 13px; margin: 0; opacity: 0.9; }\n        .content-body { padding: 30px; }\n        .rating-badge-container { text-align: center; margin-bottom: 25px; }\n        .rating-badge {\n            display: inline-block; background-color: #fbc4b6; color: #5c1d1d;\n            padding: 8px 20px; border-radius: 30px; font-weight: 700; font-size: 15px;\n        }\n        .section-title {\n            font-size: 16px; font-weight: 700; color: #5c1d1d; margin-top: 0; margin-bottom: 12px;\n            border-right: 4px solid #9b2226; padding-right: 10px;\n        }\n        .data-card { background-color: #f8fafc; border: 1px solid #e2e8f0; border-radius: 8px; padding: 20px; margin-bottom: 25px; }\n        .data-row { margin-bottom: 12px; font-size: 14px; }\n        .data-label { font-weight: 700; color: #4a5568; display: inline-block; width: 130px; }\n        .data-value { color: #1a202c; }\n        .ai-analysis-box {\n            background-color: #fff5f5; border: 1px dashed #9b2226; border-radius: 8px; padding: 20px; margin-bottom: 25px;\n        }\n        .summary-text { font-size: 14px; color: #2d3748; margin-bottom: 15px; text-align: justify; }\n        .list-title { font-size: 14px; font-weight: 700; margin-bottom: 8px; }\n        .analysis-list { margin: 0 0 15px 0; padding-right: 20px; font-size: 13.5px; color: #4a5568; }\n        .analysis-list li { margin-bottom: 6px; }\n        .footer { background-color: #f1f5f9; padding: 20px; text-align: center; font-size: 12px; color: #94a3b8; border-top: 1px solid #e2e8f0; }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"header-banner\">\n            <h1>تحليل قرار: يتطلب تحسين ومراجعة</h1>\n            <p>تم رصد تقييم منخفض للقرار - نظام دعم القرار يوصي بإجراءات تصحيحية</p>\n        </div>\n        <div class=\"content-body\">\n            <div class=\"rating-badge-container\">\n                <span class=\"rating-badge\">درجة التقييم:{{ $('Google Sheets Trigger').item.json['Outcome Rating'] }}  / 10</span>\n            </div>\n            \n            <h2 class=\"section-title\">بيانات القرار المدخلة</h2>\n            <div class=\"data-card\">\n                <div class=\"data-row\">\n                    <span class=\"data-label\">رقم القرار (ID):</span>\n                    <span class=\"data-value\">{{ $('Google Sheets Trigger').item.json.ID }}</span>\n                </div>\n                <div class=\"data-row\">\n                    <span class=\"data-label\">اسم القرار:</span>\n                    <span class=\"data-value\">{{ $('Google Sheets Trigger').item.json['Descision Name'] }}</span>\n                </div>\n                <div class=\"data-row\">\n                    <span class=\"data-label\">النتيجة الفعلية:</span>\n                    <span class=\"data-value\">{{ $('Google Sheets Trigger').item.json['Actual Outcome'] }}</span>\n                </div>\n                <div class=\"data-row\">\n                    <span class=\"data-label\">عوامل غير متوقعة:</span>\n                    <span class=\"data-value\">{{ $('Google Sheets Trigger').item.json['Unexpected Factors'] }}</span>\n                </div>\n            </div>\n\n            <h2 class=\"section-title\">تحليل نظام دعم القرار (ADSS Agent)</h2>\n            <div class=\"ai-analysis-box\">\n                <div class=\"summary-text\">\n                    <strong>الملخص الذكي:</strong> {{ $json[\"output\"][\"decision_summary\"] }}\n                </div>\n                \n                <div class=\"list-title\" style=\"color: #5c1d1d;\">⚠ نقاط الضعف والمخاطر المكتشفة:</div>\n                <ul class=\"analysis-list\">\n                    {{ $json[\"output\"][\"weaknesses\"].map(item => `<li>${item}</li>`).join(\"\") }}\n                </ul>\n\n                <div class=\"list-title\" style=\"color: #2b6cb0;\">💡 الإجراءات والتوصيات المستقبلية:</div>\n                <ul class=\"analysis-list\" style=\"margin-bottom: 0;\">\n                    {{ $json[\"output\"][\"recommendations\"].map(item => `<li>${item}</li>`).join(\"\") }}\n                </ul>\n            </div>\n        </div>\n        <div class=\"footer\">\n            <p>هذا البريد تم توليده تلقائياً بواسطة نظام دعم القرار الخاص بـ Learnova</p>\n            <p>© 2026 Learnova ADSS Agent. جميع الحقوق محفوظة.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        240,
        2032
      ],
      "id": "98861e06-d35c-4aac-bb7f-65f1ef270892",
      "name": "Send a message",
      "webhookId": "b5340098-a7fb-42d3-baaa-95a5b2059ecd",
      "credentials": {
        "gmailOAuth2": {
          "id": "9NcBOjKo4wAbWWGE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "moathhazeem661@gmail.com",
        "subject": "تحسينات ",
        "message": "=<!DOCTYPE html>\n<html dir=\"rtl\" lang=\"ar\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>تحليل قرار: نتيجة إيجابية ومثمرة</title>\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');\n        * { box-sizing: border-box; }\n        body {\n            font-family: 'Tajawal', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background-color: #f7f9fc; color: #333333; line-height: 1.6; margin: 0; padding: 0;\n        }\n        .email-container {\n            max-width: 600px; margin: 30px auto; background: #ffffff; border-radius: 12px;\n            overflow: hidden; box-shadow: 0 4px 15px rgba(0,0,0,0.05); border: 1px solid #eef2f6;\n        }\n        .header-banner {\n            background-color: #1b4332; padding: 35px 30px; text-align: center; color: #ffffff;\n            border-bottom: 4px solid #2d6a4f;\n        }\n        .header-banner h1 { font-size: 22px; margin: 0 0 10px 0; font-weight: 700; }\n        .header-banner p { font-size: 13px; margin: 0; opacity: 0.9; }\n        .content-body { padding: 30px; }\n        .rating-badge-container { text-align: center; margin-bottom: 25px; }\n        .rating-badge {\n            display: inline-block; background-color: #d8f3dc; color: #1b4332;\n            padding: 8px 20px; border-radius: 30px; font-weight: 700; font-size: 15px;\n        }\n        .section-title {\n            font-size: 16px; font-weight: 700; color: #1b4332; margin-top: 0; margin-bottom: 12px;\n            border-right: 4px solid #2d6a4f; padding-right: 10px;\n        }\n        .data-card { background-color: #f8fafc; border: 1px solid #e2e8f0; border-radius: 8px; padding: 20px; margin-bottom: 25px; }\n        .data-row { margin-bottom: 12px; font-size: 14px; }\n        .data-label { font-weight: 700; color: #4a5568; display: inline-block; width: 130px; }\n        .data-value { color: #1a202c; }\n        .ai-analysis-box {\n            background-color: #f4f9f4; border: 1px dashed #2d6a4f; border-radius: 8px; padding: 20px; margin-bottom: 25px;\n        }\n        .summary-text { font-size: 14px; color: #2d3748; margin-bottom: 15px; text-align: justify; }\n        .list-title { font-size: 14px; font-weight: 700; margin-bottom: 8px; }\n        .analysis-list { margin: 0 0 15px 0; padding-right: 20px; font-size: 13.5px; color: #4a5568; }\n        .analysis-list li { margin-bottom: 6px; }\n        .footer { background-color: #f1f5f9; padding: 20px; text-align: center; font-size: 12px; color: #94a3b8; border-top: 1px solid #e2e8f0; }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"header-banner\">\n            <h1>تحليل قرار: نتيجة إيجابية ومثمرة</h1>\n            <p>تم مراجعة القرار بنجاح وتوثيقه في نظام دعم القرار (ADSS)</p>\n        </div>\n        <div class=\"content-body\">\n            <div class=\"rating-badge-container\">\n                <span class=\"rating-badge\">درجة التقييم: {{ $('Google Sheets Trigger').item.json['Outcome Rating'] }} / 10</span>\n            </div>\n            \n            <h2 class=\"section-title\">بيانات القرار المدخلة</h2>\n            <div class=\"data-card\">\n                <div class=\"data-row\">\n                    <span class=\"data-label\">رقم القرار (ID):</span>\n                    <span class=\"data-value\">{{ $('Google Sheets Trigger').item.json.ID }}</span>\n                </div>\n                <div class=\"data-row\">\n                    <span class=\"data-label\">اسم القرار:</span>\n                    <span class=\"data-value\">{{ $('Google Sheets Trigger').item.json['Descision Name'] }}</span>\n                </div>\n                <div class=\"data-row\">\n                    <span class=\"data-label\">النتيجة الفعلية:</span>\n                    <span class=\"data-value\">{{ $('Google Sheets Trigger').item.json['Actual Outcome'] }}</span>\n                </div>\n                <div class=\"data-row\">\n                    <span class=\"data-label\">عوامل غير متوقعة:</span>\n                    <span class=\"data-value\">{{ $('Google Sheets Trigger').item.json['Unexpected Factors'] }}</span>\n                </div>\n            </div>\n\n            <h2 class=\"section-title\">تحليل نظام دعم القرار (ADSS Agent)</h2>\n            <div class=\"ai-analysis-box\">\n                <div class=\"summary-text\">\n                    <strong>الملخص الذكي:</strong> {{ $json[\"output\"][\"decision_summary\"] }}\n                </div>\n                \n                <div class=\"list-title\" style=\"color: #1b4332;\">✓ نقاط القوة والنجاح:</div>\n                <ul class=\"analysis-list\">\n                    {{ $json[\"output\"][\"strengths\"].map(item => `<li>${item}</li>`).join(\"\") }}\n                </ul>\n\n                <div class=\"list-title\" style=\"color: #2b6cb0;\">💡 الإجراءات والتوصيات المستقبلية:</div>\n                <ul class=\"analysis-list\" style=\"margin-bottom: 0;\">\n                    {{ $json[\"output\"][\"recommendations\"].map(item => `<li>${item}</li>`).join(\"\") }}\n                </ul>\n            </div>\n        </div>\n        <div class=\"footer\">\n            <p>هذا البريد تم توليده تلقائياً بواسطة نظام دعم القرار الخاص بـ Learnova</p>\n            <p>© 2026 Learnova ADSS Agent. جميع الحقوق محفوظة.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        240,
        2224
      ],
      "id": "33172af3-14b6-4587-8d50-76b30eb53d47",
      "name": "Send a message1",
      "webhookId": "b5340098-a7fb-42d3-baaa-95a5b2059ecd",
      "credentials": {
        "gmailOAuth2": {
          "id": "9NcBOjKo4wAbWWGE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw",
          "mode": "list",
          "cachedResultName": "Automated Decision Support System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1885190511,
          "mode": "list",
          "cachedResultName": "Improvment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit#gid=1885190511"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Google Sheets Trigger').item.json.ID }}",
            "Descision Name": "={{ $('Google Sheets Trigger').item.json[\"Descision Name\"] }}",
            "Decision Summary": "={{ $('AI Agent').item.json.output.decision_summary }}",
            "Strengths": "={{ $('AI Agent').item.json.output.strengths.map((item, index) => `${index + 1}. ${item}`).join(\"\\n\") }}",
            "Weaknesses": "={{ $('AI Agent').item.json.output.weaknesses.map((item, index) => `${index + 1}. ${item}`).join(\"\\n\") }}",
            "Recommendations": "={{ $('AI Agent').item.json.output.recommendations.map((item, index) => `${index + 1}. ${item}`).join(\"\\n\") }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descision Name",
              "displayName": "Descision Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Decision Summary",
              "displayName": "Decision Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strengths",
              "displayName": "Strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weaknesses",
              "displayName": "Weaknesses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendations",
              "displayName": "Recommendations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        2032
      ],
      "id": "aaf2610c-4802-4f34-bf81-285d546722f4",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qPcYFvcEFGVnuJDH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw",
          "mode": "list",
          "cachedResultName": "Automated Decision Support System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1885190511,
          "mode": "list",
          "cachedResultName": "Improvment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PxNA1-3gD350MTcTtqd5uViJ8SO0uX-WwnIigjleUZw/edit#gid=1885190511"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Google Sheets Trigger').item.json.ID }}",
            "Descision Name": "={{ $('Google Sheets Trigger').item.json[\"Descision Name\"] }}",
            "Decision Summary": "={{ $('AI Agent').item.json.output.decision_summary }}",
            "Strengths": "={{ $('AI Agent').item.json.output.strengths.map((item, index) => `${index + 1}. ${item}`).join(\"\\n\") }}",
            "Weaknesses": "={{ $('AI Agent').item.json.output.weaknesses.map((item, index) => `${index + 1}. ${item}`).join(\"\\n\") }}",
            "Recommendations": "={{ $('AI Agent').item.json.output.recommendations.map((item, index) => `${index + 1}. ${item}`).join(\"\\n\") }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descision Name",
              "displayName": "Descision Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Decision Summary",
              "displayName": "Decision Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strengths",
              "displayName": "Strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weaknesses",
              "displayName": "Weaknesses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendations",
              "displayName": "Recommendations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        2224
      ],
      "id": "459b088f-8f0c-43de-a64d-95f8aea67e8f",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qPcYFvcEFGVnuJDH",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI main",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI main",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata & Context Get Row2": {
      "ai_tool": [
        [
          {
            "node": "AI main",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI main": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI main",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet5": {
      "main": [
        [
          {
            "node": "Send a message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet5": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet6": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Metadata & Context Get Row": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Metadata & Context Get Row1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1469f236-21a9-4f52-8434-8f83c4c61e9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "312b8e1c27ba1ae94b15ee40f5b475cef18128657bfd8917a13927efa9db76b9"
  },
  "nodeGroups": [],
  "id": "vHcx8F4mmfd3q1We",
  "tags": []
}